<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <td><i class="fa fa-hashtag" aria-hidden="true"></i></td>
      <td>Name</td>
      <td>Style</td>
      <td>Price</td>
      <td>UPC</td>
      <td>Creation Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beerService.getBeersList() | async">
      <td>{{ beer.id }}</td>
      <td>
        {{ beer.beerName }} -
        <button class="btn btn-sm btn-info" (click)="cliccato.emit(beer)">
          Show details
        </button>
      </td>
      <td>{{ beer.beerStyle }}</td>
      <td>{{ beer.price }}</td>
      <td>{{ beer.upc }}</td>
      <td>{{ beer.createdDate }}</td>
      <td>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="deleteBeer(beer)"
        >
          Elimina <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
